* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

@font-face{
    font-family: VeniceSerif;
    src: url("../fonts/VeniceSerif-Regular.otf") format("opentype");
}
body {
    font-family: VeniceSerif;
    min-height:100vh;
    background-repeat:no-repeat;
    color: gray;

   
    
}

.link {
    z-index:3;
}
img {
    width: 100vw;
    -webkit-animation: 3s ease-in-out 1s scale-sm forwards;
    animation: 3s ease-in-out 1s scale-sm forwards;

}
main {
    height:100vh;
    display:flex;
    background: url("../images/bg-sm.png");
    background-size:cover;
    flex-direction: column;
    padding-top: 4em;
    

    
}

.logo {
    margin: 0 auto;
    margin-top: 3em;
    overflow:hidden;
   
}
.headerText {
    position: relative;
    top:1em;
    width:85%;
    text-align:center;
    margin: 0 auto;
}

.links {
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap:3.5em;
    margin-top:5em;
}
a {
    text-decoration: none;
    color: rgb(199, 197, 197);
    font-size: 1.7em;
}
    
a:hover {
    color:#616161;
}

@media  (min-width:500px){
    main, body {
        background: url("../images/bg.png");
        background-size:cover;
        min-height:100vh;
        
    }
    .links {
        flex-direction: row;
        justify-content: space-around;
        gap:5em;
        font-size:2em;

    }
    img {
        width:30vw;
         margin-top:2em;
        transform: none;
        align-self: center;
        -webkit-animation: 3s ease-in-out 1s scale-md forwards;
        animation: 3s ease-in-out 1s scale-md forwards;


        
    }

    .logo {
        margin-top: 5em;
        display:flex;
        height: 50vh;
        flex-direction:column;
        overflow:hidden;
        z-index:0
}
    
    .headerText {
        font-size: 2em;
        text-align:center;
        margin:0 auto;
        top:.1em;
    }
    .links {
        margin-top:1em;
        gap: 4em;
        justify-content:center;
    }
    
    .link {
        color:rgb(199, 197, 197);
        z-index:2
    }
}

@keyframes scale-md {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        
    }
    to {
        -webkit-transform: scale(2.4);
        transform: scale(2.4);
    }
}

@keyframes scale-sm{
        from {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
        to {
            -webkit-transform: scale(1.5);
            transform: scale(1.5);

        }
}
