* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

@font-face{
    font-family: VeniceSerif;
    src: url("./VeniceSerif-Regular.otf") format("opentype");
}
body {
    font-family: VeniceSerif;
    min-height:100vh;
    background-repeat:no-repeat;
    color: gray;

   
    
}
img {
    width: 100vw;
}
main {
    height:100vh;
    display:flex;
    background: url("./images/bg-sm.png");
    background-size:cover;
    flex-direction: column;
    padding-top: 4em;
    

    
}

.logo {
    margin: 0 auto;
    margin-top: 3em;
   
}
.headerText {
    position: relative;
    top:1em;
    width:85%;
    text-align:center;
    margin: 0 auto;
}

.links {
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap:3.5em;
    margin-top:3em;
}
a {
    text-decoration: none;
    color: rgb(172, 170, 170);
    font-size: 1.5em;
}
    
a:hover {
    color:#616161;
}

@media  (min-width:500px){
    main {
        background: url("./images/bg.png");
        background-size:cover;
        height:100vh;
        
    }
    .links {
        flex-direction: row;
        justify-content: space-around;
        gap:5em;
        font-size:2em;

    }
    img {
        width:65vw;
        
    }

    .logo {
        margin-top:6em;
    }
    .headerText {
        font-size: 2em;
    }
    .links {
        margin-top:.5em;
        gap: 4em;
        justify-content:center;
    }
    
}