* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

@font-face{
    font-family: VeniceSerif;
    src: url("./VeniceSerif-Regular.otf") format("opentype");
}
body {
    font-family: VeniceSerif;
    min-height:100vh;
    background-repeat:no-repeat;
    color: gray;

   
    
}

.link {
    z-index:3;
}
img {
    width: 100vw;
    transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-webkit-transform: scale(1.5);
    transition: all ease-in-out 2000ms ;
    transition-delay : 1s;
    -moz-transition: all ease-in-out 2000ms ;
    -moz-transition-delay : 1s;
    -o-transition: all ease-in-out 2000ms ;
    -o-transition-delay : 1s;
    -webkit-transition: all ease-in-out 2000ms ;
    -webkit-transition-delay : 1s;

}
main {
    height:100vh;
    display:flex;
    background: url("./images/bg-sm.png");
    background-size:cover;
    flex-direction: column;
    padding-top: 4em;
    

    
}

.logo {
    margin: 0 auto;
    margin-top: 3em;
   
}
.headerText {
    position: relative;
    top:1em;
    width:85%;
    text-align:center;
    margin: 0 auto;
}

.links {
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap:3.5em;
    margin-top:5em;
}
a {
    text-decoration: none;
    color: rgb(199, 197, 197);
    font-size: 1.7em;
}
    
a:hover {
    color:#616161;
}

@media  (min-width:500px){
    main {
        background: url("./images/bg.png");
        background-size:cover;
        height:100vh;
        
    }
    .links {
        flex-direction: row;
        justify-content: space-around;
        gap:5em;
        font-size:2em;

    }
    img {
        width:30vw; 
        transform: none;
        align-self: center;
        transform: scale(2.4);
        transition: ease-in-out 3s 1s;
        -moz-transform: scale(2.4);
        -moz-transition: ease-in-out 3s 1s;
        -o-transform: scale(2.4);
        -o-transition: ease-in-out 3s 1s;
        -webkit-transform: scale(2.4);
        -webkit-transition: ease-in-out 3s 1s;


        
    }

    .logo {
        margin-top:2em;
        display:flex;
        flex-direction:column;
        
}
    
    .headerText {
        font-size: 2em;
        text-align:center;
        margin:0 auto;
        top:1.5em;
    }
    .links {
        margin-top:.5em;
        gap: 4em;
        justify-content:center;
    }
    
    .link {
        color:rgb(199, 197, 197);
        z-index:3
    }
}